<div class="app-container">
    <app-navbar 
    [currentView]="currentView"
    (navigate)="setView($event)">
  </app-navbar>
  <div 
  class="page-wrapper"
  [class.home]="currentView === 'home'"
  [class.standard]="currentView !== 'home'"
  >

  <div class="content" [class.fade]="animationState === 'active'">
    <div class="content-inner">
    <app-home *ngIf="currentView === 'home'"></app-home>
    <app-about *ngIf="currentView === 'about'"></app-about>
    <app-datasets *ngIf="currentView === 'datasets'"></app-datasets>
  </div>
  </div>
  </div>
  <footer class="site-footer">
  <div class="footer-inner">

    <div class="footer-left">
      <strong>© 2026 Refugee Discourse Database</strong>
    </div>

    <div class="footer-meta">
      <a href="https://github.com/meleese/rdd-site" target="_blank" aria-label="GitHub repository">
      <i class="fa-brands fa-github"></i>
      </a>
      <a href="mailto:inquiries@refugeediscoursedatabase.org?subject=Refugee%20Discourse%20Database%20Inquiry">
        <i class="fa-solid fa-envelope"></i> Contact Us
      </a>
    </div>
  </div>
</footer>
</div>